body {
    margin: 0;
    overflow: hidden;
    font-family: "D2Coding", "Consolas", 'Courier New', Courier, monospace;
}

.code-area {
    display: flex;
    flex-direction: row;
}

.textarea {
    border: none;
    padding: 6px 12px;
    resize: none;
    display: block;
    font-family: "D2Coding", "Consolas", 'Courier New', Courier, monospace;
}

.line-number {
    width: 20px;
    overflow: hidden;
}

.code {
    height: calc(80vh - 2 * 6px - 16px);
    flex: 1;
    white-space: pre;
    overflow-wrap: normal;
}

.control-area {
    padding-left: 12px;
    font-size: 16px;
}

.control-area .button {
    background-color: #3254a8;
    color: white;
}

.control-area .button:hover {
    background-color: #192869;
    color: white;
    cursor: pointer;
}

.stdout {
    color: black;
    height: calc(20vh - 2 * 6px);
    width: calc(100% - 2 * 12px);
    white-space: pre;
    overflow-wrap: normal;
}

.code:focus {
    outline: none;
}