body {
    margin: 0;
    overflow: hidden;
}

.textarea {
    border: none;
    padding: 12px;
    resize: none;
    width: calc(100% - 2 * 12px);
}

.code {
    height: calc(80vh - 2 * 12px);
}

.stdout {
    color: black;
    height: calc(20vh - 2 * 12px);
}

.code:focus {
    outline: none;
}