body {
    margin: 0;
    overflow: hidden;
    font-family: "D2Coding", "Consolas", 'Courier New', Courier, monospace;
}

.code-area {
    display: flex;
    flex-direction: row;
}

.textarea {
    border: none;
    padding: 6px 12px;
    resize: none;
    display: block;
    font-family: "D2Coding", "Consolas", 'Courier New', Courier, monospace;
}

.line-number {
    width: 48px;
    overflow: hidden;
    padding-right: 0;
}

.code {
    height: calc(80vh - 2 * 6px - 16px);
    flex: 1;
    white-space: pre;
    overflow-wrap: normal;
    padding-left: 0;
}

.control-area {
    padding-left: 12px;
    font-size: 16px;
}

.button {
    background-color: #3254a8;
    color: white;
}

.button:hover {
    background-color: #192869;
    color: white;
    cursor: pointer;
}

.stdout {
    color: black;
    height: calc(20vh - 2 * 6px);
    width: calc(100% - 2 * 12px);
    white-space: pre;
    overflow-wrap: normal;
}

.code:focus {
    outline: none;
}

.stdin-prompt-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.stdin-prompt {
    background-color: white;
    width: 640px;
    margin: auto;
    margin-top: 24px;
    padding: 12px;
}

.stdin-prompt .textarea {
    width: calc(100% - 2 * 12px);
    height: 540px;
}